# Auto detect text files and perform LF normalization
* text=auto

# C# dosyalarını dil algılamasında öncelikli yap
*.cs linguist-detectable=true
*.cshtml linguist-detectable=true
*.razor linguist-detectable=true

# Diğer tüm dosyaları dil algısından çıkar
* linguist-detectable=false
