# Auto detect text files and perform LF normalization
* text=auto
# C# dosyalarını dil algılamasında öncelikli yap
*.cs linguist-detectable=true
*.cshtml linguist-detectable=true

# JavaScript dosyalarını dil algısından çıkar
*.js linguist-detectable=false
*.ts linguist-detectable=false
*.json linguist-detectable=false
# XML dosyalarını dil algısından çıkar
*.csproj linguist-detectable=false
*.config linguist-detectable=false
*.xml linguist-detectable=false